body{
    background-color: #d3d3d3;
    font-family: Helvetica;
}

h3{
    margin-left: 5%;
    font-size: 3rem;
}

form{
    display: flex;
}

.content{
    align-items: center;
    margin-top: 5%;
    margin-left: 3%;
}

.form-select{
    background-color: #EEEDDE;
    width: 200px;
    margin-right: 3%;
}

.btn{
    margin-left: 50px;
}